
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


@*<link href="~/Content/style.css" rel="stylesheet" />*@
<link href="~/Content/scan.css" rel="stylesheet" />


<div class="row">
    <div class=" col col-md-12">
        <div class="input-group">
            <div class="input-group-btn">
                <button class="btn btn-primary" type="button" data-toggle="modal" data-target="#livestream_scanner">
                    <i class="fa fa-barcode">SCANEAR</i>
                </button>
            </div>
            <input id="scanner_input" class="form-control" placeholder="scanar para obtener el codigo" type="text" style="font-size:14px;">

            @{
                //implicit
                var cod = "scanner_input";
                //explicit
            }

        </div>
    </div>
</div>

@*este es el boton de agregar*@
<div class="row" style="padding-top:5px;">
    <div class="col col-md-12">
        <button class="btn btn-primary" type="button" id="codigo">
            <i class="fa fa-barcode">Agregar</i>
        </button>
        
    </div>
</div>




@*este es es la tabla donde se ira agregando los simcar*@
<div class="row" style="padding-top:5px;">
    <div class="col col-md-12">
        <table class="table">          
                <tr style="background:#cb0f0f; color:white;"> 
                    <th scope="col">#</th>
                    <th scope="col">Codigo</th>
                   
                </tr>          
                 <tr>
                     <td></td>
                     <td><input type="text" disabled name="checkyear" id="invoice-id" value=""></td>
                 </tr>
        </table>
    </div>
</div>



<modal class="modal" id="livestream_scanner" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content" align="center">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title">Barcode Scanner</h4>
            </div>
            <div class="modal-body" style="position: static">
                <div id="interactive" class="viewport" style="height: 30vh;"></div>
                <div class="error"></div>
            </div>
            <div class="modal-footer" style="overflow:hidden">
                <input id="file" type="file" accept="image/*" class="hidden" style="display:none;">

                <label id="fileSel" for="file" class="btn btn-primary" style="float: left; display: none;">SELECT FILE</label>
                <button type="button" class="btn btn-primary" data-dismiss="modal" style="float:right;width:45%;">CLOSE</button>

            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</modal>

<div class="invoice-box" id="invoice-bill" style="display:none">
    @*<table class="invoice-boxs" cellpadding="0" cellspacing="0">                      
                            <span>Invoice #:</span> <input style="width: 48%;" type="text" disabled name="checkyear" id="invoice-id" value=""><br>
                            <p>
                                CreatedDate:
                                <script>document.write(new Date().toLocaleDateString());</script>
                            </p>
                            Due: February 1, 2015
               
                </table>*@      
</div>

<script src="~/Scripts/jquery.min.js"></script>
<script src="~/Scripts/jquery.viewportchecker.js"></script>
<script src="~/Scripts/script.js"></script>


<script src="~/Scripts/quagga.min.js"></script>
<script src="~/Scripts/scan.js"></script>